footer {
  background-color: #F5F5F5;
  padding-top: 106px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1.5px solid $border-color;
    margin-bottom: 23px;


    .item {
      flex-direction: column;
      width: 270px;

      .social-links {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        width: 230px;
        margin-bottom: 123px;

        .icon {
          @include roundIcon($bg: $color-icon, $width: 16px, $padding: 12px 12px, $br: 19px, $color: $primary-color, $mr: 0, $ml: 0);
          text-align: center;

          &:hover, &:active {
            color: $secondary-color;
            background: $primary-color;
          }
        }
      }

      .logo {
        margin-bottom: 34px;
      }

      .description {
        width: 270px;
      }

      .title {
        font-size: 22px;
        margin-bottom: 36px;
      }

      .info {
        @include text($color: $grey-color, $fz: 16px);
        padding: 5px 0;
        line-height: 24.2px;
      }


      a {
        @include text($color: $grey-color, $fz: 16px);
      }

      form {
        margin-top: 20px;
        position: relative;
        width: 240px;

        .subscribe-box {
          padding: 16px 19px;
          border-radius: 10px;
          border: none;
          outline: none;
        }

        .button-subscribe {
          @include button($top: 5px, $right: 5px, $padding: 11px 15px, $bg: $primary-color, $br: 10px);
          @include text($color: $secondary-color, $fz: 16px);
        }
      }
    }
  }
}

.copyright {
  text-align: center;
  @include text($color: $grey-color, $fz: 15px);
  padding-bottom: 26px;
}

